﻿@model IEnumerable<DTOS.AsignaturaDTO>

@{
    ViewBag.Title = "Listado de Asignaturas";
}

<h2>Listado de Asignaturas</h2>

<p class="pull-right">
    @Html.ActionLink("Nueva Asignatura", "Create",new object { },new {@class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            <a href="@Url.Action("Edit","Asignatura", new {id=item.Id })" class="btn btn-info btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
                &nbsp;
                Editar
            </a>
            
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
