﻿@model DTOS.AlumnoDTO

@{
    ViewBag.Title = "Editar Alumno";
}

<h2>Editar Alumno</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Rut, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.Rut, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Rut, "", new { @class = "text-danger" })

                </div>
                <div class="col-md-1">
                    @Html.LabelFor(model => model.Dv, "Digito", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Dv, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Dv, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <label for="Curso">Curso</label>
                    <select id="Curso" name="Curso" class="form-control" required>
                        <option value="-1">-- Seleccione Curso --</option>
                        @foreach (var item in ViewBag.cursos)
                        {
                            if (item.Id == ViewBag.cursoSel)
                            {
                                <option value="@item.Id" selected>@item.Curso - @item.Descripcion</option>
                            }
                            <option value="@item.Id">@item.Curso - @item.Descripcion</option>
                        }
                    </select>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ApellidoPaterno, "Apellido Paterno", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.ApellidoPaterno, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ApellidoMaterno, "Apellido Materno", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.ApellidoMaterno, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="pull-right">
                        @Html.ActionLink("Volver", "Index", new object { }, new { @class = "btn btn-default" })
                        <input type="submit" value="Editar" class="btn btn-success" />
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

        </div>
    </div>
}
