﻿@model IEnumerable<DTOS.AlumnoDTO>

@{
    ViewBag.Title = "Listado de Alumnos";
}

<h2>Listado de Alumnos</h2>

<p class="pull-right">
    @Html.ActionLink("Nuevo Alumno", "Create", new object { }, new { @class = "btn btn-success" })
</p>

<table class="table" id="tblAlumnos">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Rut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoMaterno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#tblAlumnos").DataTable({
                "pageLength": 50,
                "responsive": true,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "initComplete": function () {
                    this.api().columns('.select-filter').every(function () {
                        var column = this;
                        var select = $('<select><option value="">' + $(this.header()).html() + '</option></select>')
                            .appendTo($(column.header()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                },
                "columnDefs": [{
                    "targets": 6,
                    "data": null,
                    "render": function (data, type, full, meta) {
                        var link = '<a href="@Url.Action("Edit","Alumno")/' + data[6] + '" class="btn btn-info btn-xs"> <span class="glyphicon glyphicon-pencil"></span>&nbsp;Editar</a>';
                        
                        return link;
                    }
                }]
            });

                $.getJSON("@Url.Action("getAllAlumnos", "Alumno")",
                    function (json) {
                        $("#tblAlumnos").DataTable().clear();
                        var tabla = $("#tblAlumnos").DataTable();
                        var arre = [];
                        $.each(json, function (index, data) {
                            var auxF = parseInt(data.FechaModificacion.substring(6, 19),10);
                            var fecha = new moment(new Date(auxF)).format('DD/MM/YYYY');
                            //arre.push([data.Estado, data.IdUsuario, fecha, data.Rut, data.Dv, data.Nombre, data.ApellidoPaterno, data.ApellidoMaterno, data.Id]);
                            arre.push([ data.IdUsuario,  data.Rut, data.Dv, data.Nombre, data.ApellidoPaterno, data.ApellidoMaterno, data.Id]);
                        });
                        tabla.rows.add(arre).draw();
                    }
                );
        });
    </script>
}