﻿@model DTOS.PruebaDTO

@{
    ViewBag.Title = "Editar Prueba";
}

<h2>Editar Prueba</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="Prueba.Periodo">Periodo:</label>
                    <input type="text" name="Prueba.Periodo" class="form-control" value="@Model.Periodo" required />
                </div>
                <div class="col-md-4">
                    <label for="Prueba.Descripcion">Descripcion:</label>
                    <input type="text" name="Prueba.Descripcion" class="form-control" value="@Model.Descripcion" required />
                </div>
                <div class="col-md-4">
                    <label for="Prueba.Unidad">Unidad:</label>
                    <input type="text" name="Prueba.Unidad" class="form-control" value="@Model.Unidad" required />
                </div>
            </div>
            <hr />
            <div class="row">
                <table id="tablaPreguntas" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Numero Pregunta</th>
                            <th>Descripcion</th>
                            <th>Eje</th>
                            <th>Habilidad</th>
                            <th>Respuesta Correcta</th>
                            <th><a id="AgregarPregunta"><span class="glyphicon glyphicon-plus"></span></a> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var contador = 0;}
                        @foreach (var item in ViewBag.preguntas)
                        {
                            <tr id="@item.NumeroPregunta">
                                <td>
                                    <input type='hidden' name='Preguntas[@contador].NumeroPregunta' value="@item.NumeroPregunta" id="@("NumeroPregunta" + item.NumeroPregunta)" />
                                    <input type='hidden' name='Preguntas[@contador].Id' value="@item.Id" id="@("Id" + item.NumeroPregunta)" />
                                    <input type="hidden" id="@("contador"+ item.NumeroPregunta)" value="@contador" />
                                    @item.NumeroPregunta
                                </td>
                                <td>
                                    <input type='hidden' name='Preguntas[@contador].Descripcion' value="@item.Descripcion" id="@("Descripcion" + item.NumeroPregunta)" />
                                    @item.Descripcion
                                </td>
                                <td>
                                    <input type='hidden' name='Preguntas[@contador].Eje' value="@item.Eje" id="@("Eje" + item.NumeroPregunta)" />
                                    @item.Eje
                                </td>
                                <td>
                                    <input type='hidden' name='Preguntas[@contador].Habilidad' value="@item.Habilidad" id="@("Habilidad" + item.NumeroPregunta)" />
                                    @item.Habilidad
                                </td>
                                <td>
                                    <input type='hidden' name='Preguntas[@contador].RespuestaCorrecta' value="@item.RespuestaCorrecta" id="@("RespuestaCorrecta" + item.NumeroPregunta)" />
                                    @item.RespuestaCorrecta
                                </td>
                                <td>
                                    <a class="btn btn-info btn-xs btnEditar" id="@item.NumeroPregunta">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        &nbsp;
                                        Editar
                                    </a>
                                </td>
                            </tr>                            
                            contador++;
                        }
                    </tbody>
                </table>
            </div>
            <input type="hidden" id="contador" value="@contador" />
            <hr />
            <div class="row pull-right">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    @Html.ActionLink("Volver a la Lista", "Index", new object { }, new { @class = "btn btn-default" })
                    <input type="submit" value="Create" class="hidden" />
                    <button class="btn btn-success" id="btnSaveForm">Guardar</button>
                </div>
                <div class="col-md-1"></div>
            </div>

        </div>
    </div>
                            }
<div class="modal fade" id="agregaPregunta" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">X</span>
                    <span class="sr-only">Cerrar</span>
                </button>
                <h4>Nueva Pregunta</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" name="id" id="id" value="" />
                    <input type="hidden" name="preg" id="preg" value="" />
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="nro">Numero Pregunta</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="nro" id="nro" value="" placeholder="Numero Pregunta" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="descripcion">Descripcion Pregunta</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="descripcion" id="descripcion" value="" placeholder="Descripcion Pregunta" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="eje">Eje Pregunta</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="eje" id="eje" value="" placeholder="Eje Pregunta" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="habilidad">Habilidad Evaluada</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="habilidad" id="habilidad" value="" placeholder="habilidad" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="respuesta">Respuesta Correcta</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="respuesta" id="respuesta" value="" placeholder="Respuesta Correcta" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" id="btnGuardar" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">

        $(function () {
            var contador = $("#contador").val();
            $("#AgregarPregunta").click(function () {
                $("#id").val("");
                $("#nro").val("");
                $("#descripcion").val("");
                $("#eje").val("");
                $("#habilidad").val("");
                $("#respuesta").val("");
                $("#agregaPregunta").modal("show");
            });


            $("#tablaPreguntas").on('click',".btnEditar",function () {
                var nPregunta = $(this).attr('id');
                $("#preg").val($("#contador" + nPregunta).val());
                $("#id").val($("#Id" + nPregunta).val());
                $("#nro").val($("#NumeroPregunta" + nPregunta).val());
                $("#descripcion").val($("#Descripcion" + nPregunta).val());
                $("#eje").val($("#Eje" + nPregunta).val());
                $("#habilidad").val($("#Habilidad" + nPregunta).val());
                $("#respuesta").val($("#RespuestaCorrecta" + nPregunta).val());

                $("#agregaPregunta").modal("show");
            });

            $("#btnGuardar").click(function () {
                var id = $("#id").val();
                var nPre = $("#preg").val();
                var nLinea = $("#nro").val();
                if (id == "") {
                    var nro = "<td><input type='hidden' name='Preguntas[" + contador + "].NumeroPregunta' value='" + $("#nro").val() + "' />" + $("#nro").val() + "</td>";
                    var descripcion = "<td><input type='hidden' name='Preguntas[" + contador + "].Descripcion' value='" + $("#descripcion").val() + "' />" + $("#descripcion").val() + "</td>";
                    var eje = "<td><input type='hidden' name='Preguntas[" + contador + "].Eje' value='" + $("#eje").val() + "' />" + $("#eje").val() + "</td>";
                    var habilidad = "<td><input type='hidden' name='Preguntas[" + contador + "].Habilidad' value='" + $("#habilidad").val() + "' />" + $("#habilidad").val() + "</td>";
                    var rptaCorrecta = "<td><input type='hidden' name='Preguntas[" + contador + "].RespuestaCorrecta' value='" + $("#respuesta").val() + "' />" + $("#respuesta").val() + "</td>";

                    var linea = "<tr>" + nro + descripcion + eje + habilidad + rptaCorrecta + "</tr>";
                    $("tbody").append(linea);

                    toastr.success("Se agrego la Pregunta a la Lista de Preguntas");

                    contador++;
                    $("#contador").val(contador);
                    $("#nro").val("");
                    $("#descripcion").val("");
                    $("#eje").val("");
                    $("#habilidad").val("");
                    $("#respuesta").val("");
                }
                else {
                    var linea = $("#" + nLinea);
                    linea.html("");
                    var nro = "<td><input type='hidden' name='Preguntas[" + (nPre) + "].NumeroPregunta' id='NumeroPregunta" + nPre + "' value='" + $("#nro").val() + "' /> <input type= 'hidden' name= 'Preguntas[" + (nPre)+"].Id' value= "+ id + " />" + $("#nro").val() + "</td>";
                    var descripcion = "<td><input type='hidden' name='Preguntas[" + (nPre) + "].Descripcion'id='Descripcion" + nPre + "' value='" + $("#descripcion").val() + "' />" + $("#descripcion").val() + "</td>";
                    var eje = "<td><input type='hidden' name='Preguntas[" + (nPre) + "].Eje' id='Eje" + nPre + "' value='" + $("#eje").val() + "' />" + $("#eje").val() + "</td>";
                    var habilidad = "<td><input type='hidden' name='Preguntas[" + (nPre) + "].Habilidad' id='Habilidad" + nPre + "' value='" + $("#habilidad").val() + "' />" + $("#habilidad").val() + "</td>";
                    var rptaCorrecta = "<td><input type='hidden' name='Preguntas[" + (nPre) + "].RespuestaCorrecta' id='RespuestaCorrecta" + nPre + "' value='" + $("#respuesta").val() + "' />" + $("#respuesta").val() + "</td>";
                    var btnEdit = "<td><a class='btn btn-info btn-xs btnEditar' id='" + (nPre) + "'><span class='glyphicon glyphicon-pencil'></span>&nbsp;   Editar</a></td>";

                    linea.append(nro + descripcion + eje + habilidad + rptaCorrecta + btnEdit);

                    $("#contador").val(contador);
                    $("#nro").val("");
                    $("#descripcion").val("");
                    $("#eje").val("");
                    $("#habilidad").val("");
                    $("#respuesta").val("");
                }
            });

        });
    </script>
}