﻿@model DTOS.DocenteDTO

@{
    ViewBag.Title = "Ingresar Docente";
}

<h2>Nuevo Docente</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Rut, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Rut, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Rut, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1">
                    @Html.LabelFor(model => model.Dv, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Dv,"Digito", new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Dv, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Nombre,"Nombre", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ApellidoPaterno, "Apellido Paterno", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.ApellidoPaterno, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ApellidoMaterno,"Apellido Materno", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.ApellidoMaterno, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row pull-right">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    @Html.ActionLink("Volver a la Lista", "Index", new object { }, new { @class = "btn btn-default" })
                    <input type="submit" value="Ingresar" class="btn btn-success" />
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
}
