﻿@model mvc.Models.AlumnoPruebaResultado

@{
    ViewBag.Title = "Editar Rendicion de Pruebas";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Editar Rendicion de Pruebas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <label for="Curso">Curso</label>
                    <select id="Curso" class="form-control">
                        <option value="-1">-- Seleccione Curso --</option>
                        @foreach (var item in ViewBag.cursos)
                        {
                            <option value="@item.Id">@item.Curso - @item.Descripcion</option>
                        }
                    </select>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <label for="Prueba">Prueba</label>
                    <select id="Prueba" class="form-control">
                        <option value="-1">-- Seleccione Prueba --</option>
                        @foreach (var item in ViewBag.pruebas)
                        {
                            <option value="@item.Id">@item.Descripcion</option>
                        }
                    </select>

                </div>
                <div class="col-sm-1"></div>
            </div>
            <br />
            <div style="overflow-x:auto">
                <table id="tbAlumnoRespuestas" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">Alumno</th>
                            <th>Puntaje</th>
                            <th>Nota Alumno</th>
                            <th id="thRespuestas">Respuestas</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <br />
            <div class="row pull-right">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    @Html.ActionLink("Volver a la Lista", "Index", new object { }, new { @class = "btn btn-default" })
                    <input type="submit" value="Guardar" class="btn btn-success" id="guardar" />
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({
                async: false

            });

            $("#Curso").change(function () {
                if ($(this).val() !== "-1" && $("#Prueba").val() !== "-1") {
                    var idCurso = $(this).val();
                    var idPrueba = $("#Prueba").val();

                    var preguntas;


                    $.getJSON("@Url.Action("getPreguntasByPrueba","Rendicion")?id="+idPrueba, function (data) {
                        agregaCabeceras(data);
                        var preguntas = data;

                        $.getJSON("@Url.Action("getAlumnosByCurso","Rendicion")?id="+idCurso, function (data) {
                            generaTabla(data, preguntas);
                        });
                    });
                }
            });

            $("#Prueba").change(function () {
                if ($(this).val() !== "-1" && $("#Curso").val() !== "-1") {
                    var idPrueba = $(this).val();
                    var idCurso = $("#Curso").val();

                    $.getJSON("/Rendicion/getPreguntasByPrueba?id=" + idPrueba, function (data) {
                        agregaCabeceras(data);
                        var preguntas = data;
                        $.getJSON("/Rendicion/getAlumnosByCurso?id=" + idCurso, function (data) {
                            generaTabla(data, preguntas);
                        });
                    });
                }
            });

            $("#btnGuardar").click(function () {
                var con = confirm("¿Esta seguro que desea enviar la informacion?")
                if (con) {
                    $("#guardar").click();
                }
            })
        });

        function agregaCabeceras(data) {
            var cabecera = $("#tbAlumnoRespuestas thead");
            cabecera.html("");
            cabecera.append("<tr>");
            cabecera.append("<th class='col-md-4' colspan='2'>Alumno</th>");
            cabecera.append("<th class='col-md-4'>Puntaje</th>");
            cabecera.append("<th class='col-md-4'>Nota Alumno</th>");
            for (var i = 0; i < data.length; i++) {
                cabecera.append("<th style='width:auto;'>Pregunta" + (i + 1) + "&nbsp; </th > ");
            }
            cabecera.append("</tr>")
        }

        function generaTabla(alumnos, preguntas) {
            var idPrueba = $("#Prueba").val();
            var tabla = $("#tbAlumnoRespuestas tbody");
            tabla.html("");
            var inlinea = "<tr>";
            var filinea = "</tr>";
            $.each(alumnos, function (index,item) {
                var linea = inlinea;
                linea += "<td>" + item.Rut + "-" + item.Dv + "<input type='hidden' name='data[" + index + "].AlumnoPrueba.Alumno.Id' value='"+item.Id+"' />  </td>";
                linea += "<td>" + item.Nombre + " " + item.ApellidoPaterno + " " + item.ApellidoMaterno + "<input type='hidden' name='data[" + index + "].AlumnoPrueba.Prueba.Id' value='" + idPrueba + "' /> </td>";
                linea += "<td><input type='number' name='data[" + index + "].AlumnoPrueba.puntaje' value='#puntaje' class='form-control'></td>"
                linea += "<td><input type='number' name='data[" + index + "].AlumnoPrueba.nota' value='#nota' class='form-control'></td>"
                $.each(preguntas, function (interno, datos) {
                    var pagina = "@Url.Action("getRespuestaByPreguntaAlumnoPrueba","Rendicion")?p=" + datos.Id + "&a=" + item.Id + "&t=" + idPrueba;
                    console.log(pagina);
                    $.getJSON(pagina ,
                        function (json) {
                            linea = linea.replace('#puntaje', json[1]).replace('#nota',json[2]);
                            linea += "<td><input type='hidden' name='data[" + index + "].Resultados[" + interno + "].Pregunta.Id' value='" + datos.Id + "' />";
                            linea += "<input type= 'text' name= 'data[" + index + "].Resultados[" + interno + "].Respuesta' class='form-control' value='" + json[0] + "' required >"
                            linea += "<input type='hidden' name='data[" + index + "].Resultados[" + interno + "].Id' value='" + json[3] + "'>";
                            linea += "</td > "
                        }
                    );
                });

                linea += filinea;
                tabla.append(linea);
            });
        }

    </script>
}