﻿
@{
    ViewBag.Title = "Index";
}

<h2>Bienvenido al Sistema PAC</h2>

Sistema desarrollado para el Liceo Corina Urbina Villanueva

<img src="~/images/principal.jpg" border="0" />

@section scripts{
<script type="text/javascript">
</script>
}